
/* Custom css property */
:root {
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);
  --orrange-light: hsl(29, 98%, 55%);
  --orrange-dark: hsl(29, 100%, 50%);
  --blue-dark: hsl(212, 100%, 31%);
  --blue-light: hsl(220, 60%, 50%);
  --green-light: hsl(120, 100% , 33%);
  --green-dark: hsl(120, 100%, 25%);
  --violet-dark: hsl(300, 100% , 23%);
  --violet-light: hsl(300, 100%, 30%);
  --purple-dark: hsl(272, 100%, 43%);
  --purple-light: hsl(274, 100%, 58%);
  --gray: hsl(0, 0%, 53%);
  --gray-light: hsl(0, 0% , 73%);
  --red-light: hsl(0, 100% , 48%);
  --red-dark: hsl(4, 86% , 41%);
  --light: hsl(0, 0% , 87%);
  --dark: hsl(180, 100% , 7%);
  --dark-light: hsl(211, 33% , 15%);
  --background-one:  hsl(168, 16% , 94%);
  --background-two:  hsl(312, 16% , 94%);
  --background-three:  hsl(240, 16% , 94%);



  /* Typography */
  --ff-playfair: 'Playfair Display', serif; /*header*/
  --ff-sourcesans: 'Source Sans 3', sans-serif; /* paragraph*/
  --ff-opensans: 'Open Sans', sans-serif; /*buttton*/
  --ff-lato: 'Lato', sans-serif;
  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* Transition */
  --transition: 0.25s ease-in-out;

  /* Spacing Padding */
  --section-padding: 30px;

  /* Border-Radius */
  --radius-3: 3px;
  --radius-1: 1px;
  
  /* box shadow */
  --box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*<-----------------------O----------------------->*/



/* Css Default Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon { display: block; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-sourcesans);
  scroll-behavior: smooth;
}

body { background: var(--white); }

/*<-----------------------O----------------------->*/



/* Useable Css Property */
.container { padding-inline: 12px; }

.btn {
  color: var(--white);
  font-family: var(--ff-opensans);
  text-transform: uppercase;
  font-size: var(--fs-5);
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
  font-weight: bold;
}



.btn-primary {
  background-color: var(--green-light);
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  padding: var(--padding, 8px 18px);
  text-align: center;
  transition: 200ms;
  width: auto;
  box-sizing: border-box;
  font-size: var(--fs-5);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: var(--ff-opensans);
 
}
.btn-primary:not(:disabled):hover,
.btn-primary:not(:disabled):focus {
  outline: 0;
  background: var(--green-dark);
  color: (--gunmetal);
  box-shadow: 0 0 0 2px rgba(0,0,0,.1), 0 3px 8px 0 rgba(0,0,0,.10);
}
.btn-primary:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}


.btn-secondary {
  border: 2px solid var(--orrange-dark);
  background-color: initial;
  background-position: 0 0;
  color: var(--orrange-light);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  padding: var(--padding, 8px 18px);
  text-align: center;
  text-rendering: geometricprecision;
  transition: 200ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: var(--ff-opensans);
}

.btn-secondary:not(:disabled):hover,
.btn-secondary:not(:disabled):focus {
  outline: 0;
  background: var(--orrange-dark);
  color: var(--white);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.10);
}

.btn-secondary:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}


.btn-accent {
  border: 2px solid var(--gray);
  background-color: var(--gray);
  background-position: 0 0;
  color: var(--white);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  padding: var(--padding, 8px 18px);
  text-align: center;
  text-rendering: geometricprecision;
  transition: 200ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: var(--ff-opensans);
  
}

.btn-accent:not(:disabled):hover,
.btn-accent:not(:disabled):focus {
  outline: 0;
  background: var(--gray);
  color: var(--orrange-light);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.10);
}

.btn-secondary:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}



.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-sourcesans);
  text-transform: uppercase;
  text-wrap: balance;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 { color: var(--gunmetal); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}


.section-subtitle {
  color: var(--gray);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  font-family: var(--ff-playfair);
  margin-bottom: 8px;
}

.section-title {
  color: var(--dark);
  margin-bottom: 10px;
  font-size: var(--fs-2);
}

.section-text {
  color: var(--black-coral);
  font-family: var(--ff-lato);
  margin-bottom: 25px;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
  font-family: var(--ff-sourcesans);
 
}

/*<-----------------------O----------------------->*/




/* Header Property */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 70px;
  z-index: 4;
}

.header-top {
  position: absolute;
  background: var(--background-one);
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  padding-block: 15px;
  z-index: 1;

}

.header.active .header-top {
  position: fixed;
  background: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box .wrapper {
  display: none;
  font-family: var(--ff-lato);
}

.helpline-box .icon-box {
  background-color: var(--green-light);
  padding: 10px;
  border-radius: 50%;
  color: var(--dark);
  
}

.icon-box:hover {
  background-color: var(--green-dark);
}

.helpline-box .icon-box ion-icon {
  --ionicon-stroke-width: 30px; 
  /* display: none; */
}

.header-top .logo {
  margin-inline: auto;
  display: flex;
  align-items: center;
  color: white;
  font-size: calc(16px + 2 * (100vw - 600px) / 400);
  font-family: var(--ff-sourcesans);
}

.header-top .logo img {
  max-width: 48px;
  height: auto;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}


.nav-open-btn {
  font-size: 1.4em;
  font-weight: var(--fw-600);
  padding: 3px;
  border: 1px solid hsla(0, 0%, 65%, 1);
  border-radius: 3px;
  color: var(--gray);
  background: transparent;

}
.nav-open-btn:is(:hover, :focus) {
  border: 1px solid var(--dark);
  color: var(--dark);
}

.search-bar {
  display: flex;
  align-items: center;
  
}

.search-bar input[type="search"] {
  width: 100%;
  padding: 6px;
  background-color: var(--white);
  border: 1px solid hsla(0, 0%, 65%, 1);
  border-radius: 5px;
  margin-right: 5px;
  flex-grow: 1;
  color: var(--dark);
  font-family: var(--ff-lato);
}

.search-btn, .search-bar {
  font-size: 30px;
  display: in-line;
  color: var(--dark);
}

@media (max-width: 767px) {
  .search-btn, .search-bar {
    display: none;
  }

}




.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  background: var(--white);
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;

}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--green-light);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 16px;
  transition: 0.15s ease-in;
}



.social-link:is(:hover, :focus) {
  background: var(--background-one);
  font-size: 18px;
  color: var(--green-dark);
}


.header .btn { --padding: 4px 20px; }

.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  box-shadow: var(--box-shadow);
  z-index: 3;

}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;

}



.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.navbar-top .logo-mbl img { max-width: 80px; }
.logo-mbl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

.brand-name {
  font-size: calc(20px + 2 * (100vw - 600px) / 400);
  color: var(--green-light);
  
}

.nav-close-btn {
  font-size: 30px;
  color: var(--dark
  );
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-list li { border-bottom: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-link {
  padding: 15px 20px;
  color: var(--dark);
  font-weight: var(--fw-600);
  font-size: var(--fs-4);
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--ff-sourcesans);
  
}

.navbar-link:is(:hover, :focus) {
  color: var(--green-dark);
}

.dropdown-content {
  margin: auto;
  display: none;
  position: absolute;
  background-color: var(--white);
  font-weight: var(--fw-400);
  font-size: var(--fs-4);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  
  
}

@media(max-width: 991px){
  .navbar-link{
    color: var(--dark);
  }
  .navbar-link:is(:hover, :focus) {
    color: var(--green-light);
    background: var(--gunmetal);
  }
  .dropdown-content {
    margin-left: 108px;
    font-weight: var(--fw-600);
    font-size: var(--fs-4);
    display: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background: var(--white);
    
  }

  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown-content li:last-child a {
    border-bottom: none; 
    
  }

}


.dropdown-content a:hover {
  background: var(--gunmetal);;
  color: var(--green-light); 
}



.dropdown-content li a {

  color: var(--dark);
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
  display: block;
  transition: color 0.3s;

  

}

.dropdown-content li:last-child a {
  border-bottom: none; 
}

.main-dropdown > li:hover .dropdown-content {
  position: absolute;
  height: auto;
  display: block;
}

.navbar-list, .navbar-link {
  width: 100%;
  height: block;
}



.overlay {
  position: fixed;
  inset: 0;
  background: var(--white);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

/*<-----------------------O----------------------->*/




/* Hero Section */
.hero {
  background-image: url("../images/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(40, 80%, 5%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 800px;
  text-align: center;
  padding-top: 125px;
  position: relative;
  z-index: -1;
}



.hero-title {
  margin-top: -288px;
  margin-bottom: 6px;
  color: var(--white);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  font-family: var(--ff-sourcesans);
  transform: uppercase;
  text-align: center;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  font-family: var(--ff-opensans);
  margin-bottom: 20px; 
}

.hero-title span{
  display: inline;
}

#typewriter {
  color: var(--white);

}

#cursor {
  color: transparent;
  animation: blink 2s linear infinite;
}





@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}


.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*<-----------------------O----------------------->*/




/* Search For DestiNation */
.tour-search {
  padding-block: 0;  
  margin-top: -550px;
  margin-bottom: 12px;
  z-index: 9999;

  
}

.tour-search-form {
  background: var(--white);
  padding: 40px;
  border-radius: 3px;
  box-shadow: var(--box-shadow);


}


.tour-search-form .input-label {
  display: flex;
  align-items: center;
  color: var(--dark-light);
  font-size: .8em;
  font-weight: var(--fw-600);
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: var(--ff-sourcesans);


}

.input-label ion-icon {
  color: var(--green-light); 
  background: var(--background-one);
  padding: 6px;
  border-radius: 50px;
  margin-right: 3px; 
  font-size: 1em;
  font-weight: var(--fw-700);
  align-items: center;
}

.tour-search-form .input-field {
  background: var(--white);
  color: var(--dark);
  padding: 10px 15px;
  font-size: .7em;
  font-weight: var(--fw-500);
  font-family: var(--ff-lato);
  border: 1px solid hsla(0, 0%, 65%, 1);
  border-radius: 3px;
}

.tour-search-form .input-field::placeholder { color: var(--gray); }

.tour-search-form .input-field::-webkit-datetime-edit {
  color: var(--gray);
  
}

.tour-search-form .input-wrapper { margin-bottom: 15px; }

.tour-search .btn {
  width: 100%;
  --border-width: 1px;
  font-weight: var(--fw-600);
  margin-top: 35px;
}

/*<-----------------------O----------------------->*/


/* About Us Section*/
.about-main {
  padding-block: var(--section-padding);  
  background: var(--white);

}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.section-title-secondary{
  color: var(--gray);
}

.about-us .images {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: auto;
  align-items: center;
  justify-content:center;

}



.images .img-one {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  border: 5px solid var(--white);
}



.images .img-two {
  max-width: 80%;
  height: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  margin-top: -110px;
  border: 5px solid var(--white);
}

.about-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  padding: 35px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

.about-content h2 {
  text-align: center;
}

.content-icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-inline-start: 10px; 
  margin-inline-end: 10px;   
  text-align: center; 
}


.content-icon ion-icon {
  justify-conten: center;
  align-items: center;
  color: var(--green-light);
  font-size: 1.2em;
  background: var(--background-one);
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 10px;
  
}


.card-text-about {
  color: var(--dark-light);
  font-size: 1em;
  font-weight: var(--fw-600);
  font-family: var(--ff-sourcesans);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: -12px;
}

.section-text-two {
  color: var(--black-coral);
  margin-bottom: 10px;
  font-size: .8em;
  font-family: var(--fs-opensans);
  
}

.about-btn-two {
  display: none;
}


@media(min-width: 768px){

  .about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -65px;
  }
  
  .about-us .images {
    display: flex;
    flex: 70%;
    flex-direction: column;
    max-width: 100%;
    max-height: auto;
    align-items: center;
    justify-content:center;
  }
  
  .images .img-one {
  
    max-width: 80%;
    height: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    margin-left: -115px;
    margin-top: 50px;
    border: 6px solid var(--white);

 
    
  }
  
  
  .images .img-two {
    max-width: 60%;
    height: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    margin-top: -100px;
    margin-right: -250px;
    border: 6px solid var(--white);
    

  }
  
  .about-content {
    max-width: 100%;
    display: flex;
    flex: 30%;
    flex-direction: column;
    flex-wrap: no-wrap;
    padding: 35px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
  
  }

  .about-content h2 {
    margin-left: -300px;
    justify-content: flex-end;
  }
  
  .content-icon {
    margin-inline: block;
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3px;
    
  }
  
  .content-icon h3{
    margin-right: 15px;
    text-align: center;
  }
  
  
  .content-icon ion-icon {
    justify-conten: center;
    align-items: center;
    color: var(--green-light);
    font-size: 1.5em;
    background: var(--background-one);
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 10px;
    
  }

  
  .card-text-about {
    color: var(--dark-light);
    font-size: 1em;
    font-family: var(--ff-sourcesans);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 18px;
  }

  .section-text-two {
    font-size: .8em;
  }
  
  .about-btn {
    display: block;
  }


  
}
  

/*<-----------------------O----------------------->*/


/* Popular Destination */
.destination-popular{
  padding-block: var(--section-padding);
  background: var(--white);
}

.img-flexbox{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

img {
  display: block;
  height: auto;
  width: 100%;
}

.container__item {
  height: 300px;
  margin-top: 1vw;
  margin-bottom: 3vw;
  width: 100vw;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  
}

@media (max-width: 768px){
  .container__item {
    margin-top: 2vw;
  }
}

.container__item img {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  background-size: 100% 100%;
  transition: 0.5s all ease-in-out;
  border-top: -20px;
  border-bottom: -20px;
}

.container__item:hover img {
  transform: scale(1.2);
  
}

.container__item:hover .card{
  filter: brightness(70%);
  
}


.title{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--light);
  font-size: 1em;
  padding: 5px;
  font-weight: var(--fw-600);
  position: absolute;
  top: 8px;
  right: 16px;
  text-align: center;
  font-family: var(--ff-sourcesans);
}

.title-two{
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: var(--white);
  font-size: .8em;
  font-weight: var(--fw-500);
  background: var(--orrange-light);
  padding: 4px;
  font-family: var(--ff-opensans);
  border-radius: 5px;
  text-align: center;
  
}

.container__item:first-child {
  margin-top: 2px;
}

@media (min-width: 768px) {
  .container__item {
    width: 49%;
    height: 100%;
    margin-right: 1%;
    align-items: center;
    
  }


  .container__item img {
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .container__item:first-child {
    margin-right: 1%;
    margin-top: 10px;
  }

  .container__item:last-child {
    width: 99.5%;
    height: auto;
    margin-right: 0;
  }
}


@media (min-width: 992px) {
  .container__item:nth-child(-n+2) {
    flex: none;
    margin: 0;
    width: 49.5%;
  }
  .container__item:first-child {
    margin-right: 1%;
  }
  .container__item:nth-child(n+3) {
    flex: 1;
    margin-right: 1%;
  }
  .container__item:last-child {
    margin-right: 0;
  }
}





/*<-----------------------O----------------------->*/
/* Popular Packages */
.popular { 
  padding-block: var(--section-padding);
  background: var(--white);
}



.popular-list,
.popular-list > li:not(:last-child) { margin-bottom: 30px; }

.popular-card {
  position: relative;
  overflow: hidden;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
}

.popular-card .card-img { height: 100%; }

.popular-card .card-img img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;

}

.popular-card .card-img:hover img{
  transform: scale(1.2);
  cursor: pointer;
  filter: brightness(75%);

}

.popular-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--white);
  padding: 20px;
  width: 100%;
  height: 50%;
  
}


.popular-card .card-rating {
  color: var(--green-light);
  position: absolute;
  top: 28px;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-bottom: 8px;
  
}

.recommendation {
  display: flex;
  align-items: center;
  margin-top: .5em;
  margin-bottom: .3em;
  
}

.score {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--orrange-light);
  color: var(--white);
  padding: 8px 10px;
  border-radius: 5px;
  user-select: none;
  text-align: center;
  font-size: var(--fs-5);
  font-family: var(--ff-opensans);

}

.score span {
  margin-left: 8px;
  margin-right: 8px; 
  text-align: center;
  color: var(--white);
}

.comment {
  margin-left: 10px; 
  color: var(--black-coral);
  font-size: var(--fs-4);
  font-family: var(--ff-sourcesans);
}

.score:first-child {
  padding: 1px 8px 5px 4px; /* Adjusted padding for the first child */
}

.score:last-child {
  font-size: 1.1em;
  padding-left: 8px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.original-price {
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-sourcesans);
  color: var(--gunmetal);
}

.discount-info {
  color: var(--blue-light);
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--ff-sourcesans);
}

.popular-card .card-title { margin-bottom: 5px; }

.popular-card :is(.card-subtitle, .card-title) > a { color: inherit; }


.popular .btn { margin-inline: auto; }

.destination-btn {
  margin-bottom: 0;
}

/*<-----------------------O----------------------->*/





/* Tour Packages */
.package { padding-block: var(--section-padding); }

.package-list { margin-bottom: 40px; }

.package-list > li:not(:last-child) { margin-bottom: 30px; }

.package-card {
  background: var(--cultured);
  overflow: hidden;
  border-radius: 3px;
  
}

.package-card .card-banner { 
  height: 250px;
  
}

.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
  border-radius: 3px;

	
}

.package-card .card-banner:hover img {
  transform: scale(0.97);
}

.package-card .card-content { padding: 30px 20px; }

.package-card .card-title { margin-bottom: 15px; }

.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item { position: relative; }

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--black-coral);
  font-size: var(--fs-8);
  font-family: var(--ff-lato);
}

.meta-box > ion-icon {
  color: var(--orrange-dark);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--light);
  color: var(--dark);
  padding: 25px 20px;
  text-align: center;
  font-family: var(--ff-lato);
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.package-card .card-price .reviews {
  font-size: var(--fs-5);
  color: var(--green-light);
}

.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.package-card .card-rating ion-icon {
  color: var(--orrange-light);
} 

.package-card .price {
  font-size: var(--fs-2);
  font-family: var(--ff-sans);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}

.package .btn { margin-inline: auto; }

/*<-----------------------O----------------------->*/




/* Gallery */
.gallery { padding-block: var(--section-padding); }

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-3);
  overflow: hidden;
}

.gallery-item:nth-child(3) { grid-area: 1 / 2 / 3 / 3; }

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*<-----------------------O----------------------->*/



/* CTA */
.cta {
  background: var(--light);
  padding-block: var(--section-padding);
}

.cta :is(.section-subtitle, .section-title, .section-text) { color: var(--dark); }

.cta .section-text { font-size: var(--fs-5); }

/*<-----------------------O----------------------->*/



/* Footer */
.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
}

.footer-brand { margin-bottom: 30px; }

.logo-footer {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: calc(16px + 2 * (100vw - 600px) / 400);
}

.footer-brand img {
  max-width: 100%;
  height: auto;
}

.footer-brand .logo { margin-bottom: 20px; }

.footer-text {
  font-size: var(--fs-5);
  line-height: 1.7;
  font-family: var(--ff-sourcesans);
}

.footer-contact { margin-bottom: 30px; }

.contact-title {
  position: relative;
  font-family: var(--ff-playfair);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 2px;
  background: var(--green-light);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
  font-family: var(--ff-lato);
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon {
  --ionicon-stroke-width: 40px;
  color: var(--orrange-light)

}

.contact-link,
address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
  font-family: var(--ff-lato);
}

.contact-link:is(:hover, :focus) { color: var(--white); }

.form-text {
  font-size: var(--fs-3);
  font-family: var(--ff-lato);
  margin-bottom: 20px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: var(--ff-lato);
}

.footer-form .btn { width: 100%; }

.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--dark);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--white);
  font-size: var(--fs-5);
  margin-bottom: 10px;
  font-family: var(--ff-sourcesans);
}

.copyright a {
  color: inherit;
  display: inline-block;
  
}

.copyright a:is(:hover, :focus) { color: var(--green-light); }

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  font-family: var(--ff-sourcesans);
}

.footer-bottom-list > li { position: relative; }

.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
}

.footer-bottom-link {
  color: var(--gainsboro);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-link:is(:hover, :focus) { color: var(--green-light); }

/*<-----------------------O----------------------->*/





/*Go Up Button*/
.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: var(--green-light);
  color: var(--white);
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: var(--transition);
}

.go-top.active {
  opacity: 0.8;
  transform: translateY(0);
  visibility: visible;
}

.go-top:is(:hover, :focus) { opacity: 1; }

/*<-----------------------O----------------------->*/





/* --========== MEDIA QUERIES ==========-- */

/* responsive for larger than '580px' screen Tablates */
@media (min-width: 580px) {

  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
    text-align: center;
  }

  .section-text { margin-bottom: 40px; }

  .card-text { --fs-5: 15px; }



  /* Header */
  .header { padding-top: 83px; }
  .helpline-box .icon-box ion-icon {
    --ionicon-stroke-width: 40px; 
    display: block;
  }

  .helpline-box .icon-box {
    padding: 9px; 
    display: block;
  }

  .header-top .logo img { max-width: 58px; }

  .nav-open-btn { font-size: 21px; }

  .header .btn {
    --fs-5: 14px;
    --padding: 6px 20px;
  }


  /* Hero */
  .hero {
    min-height: 850px;
    padding-top: 85px;
  }

  .hero-title {
    margin-top: -270px;
    color: var(--white);
    font-size: var(--fs-2);
    font-weight: var(--fw-600);
    font-family: var(--ff-sourcesans);
  }

  .hero-text { 
    font-size: .96em;
  }

  .btn-group { gap: 20px; }



  /* Tour Search Button */
  .tour-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 15px;
  }

  .tour-search-form .input-wrapper { margin-bottom: 0; }

  .tour-search-form .input-label {
    font-size: .9em;
  }

  .tour-search-form .input-field {
    font-size: .8em;
  }

  .tour-search-form .input-field { padding: 16px 20px; }

  .tour-search .btn {
    grid-column: span 2;
    margin-top: 20px;
  }

  /* Destination */
  .img-card {
    height: 100%;
    width: 100%;
  }

  /* Card */
  .popular-card .card-content {
    right: auto;
    border-radius: 0;
  }


  /* Footer */
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-form { grid-column: span 2; }

  .footer-bottom { text-align: left; }

  .copyright { margin-bottom: 0; }

  .footer-bottom-list { justify-content: flex-end; }

}

/*<-----------------------O----------------------->*/





/* Responsive for larger than 768px screen Laptops */
@media (min-width: 768px) {

  :root {
    /* Typography */
    --fs-5: 15px;
  }


  .container { max-width: 800px; }

  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }



  /* HEADER */
  .helpline-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--dark);
    font-size: 12px;
  }

  .header-top .logo img { max-width: 60px; }
  .search-bar{
    font-size: 15px;
  }

  .searh-btn: {
    font-size: 20px;
  }


  .social-list { gap: 10px; }

  /*Tour search */
  .tour-search-form {
    margin-bottom: 60px;
  }



  /*Tour Package Card*/

  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .popular-list > li:not(:last-child) { margin-bottom: 0; }

  .popular-card .card-content { right: 20px; }



  /* Tour Package */
  .package-list { margin-bottom: 50px; }

  .package-list > li:not(:last-child) { margin-bottom: 40px; }

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner { height: 100%; }

  .package-card .card-content { padding: 40px; }

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  .package-card .card-price .wrapper { margin-bottom: 15px; }



  /* Gallery */
  .gallery { padding-bottom: calc(var(--section-padding * 2)); }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-image { border-radius: var(--radius-3); }



  /* CTA */
  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-content { width: calc(100% - 225px); }

  .cta .section-text { margin-inline: 0; }


  /* FOOTER */
  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer-form .input-field { margin-bottom: 0; }

  .footer-form .btn { width: max-content; }

}

/*<-----------------------O----------------------->*/



/* Responsive for larger than 992px screen Desktop */

@media (min-width: 992px) {

  .container { max-width: 1050px; }

  .header.active .header-top {
    position: unset;
  }

  .nav-open-btn,
  .navbar-top { display: none; }

  .header-top {
    border-bottom: none;
    background: var(--background-one);
    padding: 5px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--gunmetal);
    font-size: 13px;
    font-family: var(--ff-lato);
  }
  
  .header-top .logo img { max-width: 65px; }

  .header-top .search-btn {
    color: var(--gunmetal);
  }

  .header-bottom {
    border-bottom: none;
    background: var(--white);
    width: 100%;
    top: 74px;
    position: absolute;
  }

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
    transition: var(--transition);
    z-index: 1;
  }

  .header-bottom .container { padding-block: 0; }

  .header .navbar {
    all: unset;

  }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .navbar-list li {
    border-bottom: none;
   
  }

  .navbar-link {
    color: var(--dark-light);
    font-weight: var(--fw-600);
    font-size:  var(--fs-4);
    padding: 20px 15px;
    font-family: var(--ff-sourcesans);
  }
  
  .navbar-link:hover {
    color: var(--green-dark);
  }

  .dropdown-content li a {
    color: var(--dark-light);
    background: var(--white);
    font-weight: var(--fw-600);
    font-size: var(--fs-4);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 65%, 1);
  }

  .dropdown-content a:hover {
    color: var(--green-light);
    background: var(--white); 
    
  }



  .header.active .navbar-link { color: var(--dark-light); }

  .header.active .navbar-link:is(:hover, :focus) {
    color: var(--green-light);
    
  }

  .header.active .social-link {

    border-color: none;
  }

  .overlay { display: none; }

  /* Hero */
  .hero {
    min-height: 800px;
  }
  .hero-title {
    width: 100%;
    margin-top: -182px;
    color: var(--white);
    
  }

  hero-text {
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
  }
  .hero .container { max-width: 740px; }

  /* Tour search */
  .tour-search{
    width: 100%;
    align-items: center;
    position: absolute;
    margin-top: -380px;
    
  }

  .tour-search-form {
    padding-block: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }

  .tour-search-form input-label {
    font-size: .9em;
    font-weight: var(--fw-600)
  }
  
  /* about section*/
  .section-subtitle {
    margin-top: 90px;
  }
  /* Tour Package Card */
  .tour-search-form { grid-template-columns: repeat(5, 1fr); }

  .tour-search .btn {
    --padding: 15px;
    grid-column: unset;
    margin-top: 0;
  }



  /* Tour Packages */
  .popular-list { grid-template-columns: repeat(3, 1fr); }



  /* Tour Package small buttons */
  .meta-box { --fs-8: 13px; }

  .meta-box > ion-icon { font-size: 15px; }



  /* CTA */
  .cta .section-title { max-width: 25ch; }



  /* FOOTER */
  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-form { grid-column: unset; }

  .form-wrapper { flex-direction: column; }

  .footer-form .btn { width: 100%; }

}

/*<-----------------------O----------------------->*/




/* responsive for larger than 1200px screen  XL devicse*/
@media (min-width: 1200px) {

  :root {
    --section-padding: 50px;

  }

  .container { max-width: 1180px; }

}

/*<-----------------------O----------------------->*/